body {
    padding: 0; 
    margin: 0; 
}

.background {
    background: url('../image/background.png'); 
    height: 100vh; 
    width: 100%;
    background-color: #cccccc;
    background-repeat: repeat-x;
    background-size: contain; 
}

.ground {
    background: url('../image//ground.png');
    background-color: #cccccc;
    background-repeat: repeat-x;
    width: 100%; 
    height: 170px;
    position: absolute; 
    bottom: 0; 
}

#player {
    z-index: 10;
    position: absolute;
    bottom: 150px;
}

.miroir-player {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#score {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    color: white; 
    font-size: 2rem; 
    font-family: Helvetica;
}

#invinsible {
    position: absolute; 
    display:none; 
    top: 20px; 
    left:20px;
    color: white; 
    font-size: 2rem; 
    font-family: Helvetica;
}

/*BALLS*/ 

.ball-blue {
    position:absolute;
    width: 30px;  
    height: 30px; 
    background: blue; 
    border-radius: 50%;
}

.ball-red {
    position:absolute;
    width: 30px; 
    height: 30px; 
    background: red; 
    border-radius: 50%;
}

.ball-green {
    position:absolute;
    width: 30px; 
    height: 30px; 
    background: green; 
    border-radius: 50%;
}



.ball-black {
    position:absolute;
    width: 30px; 
    height: 30px; 
    background: black; 
    border-radius: 50%;
}